<!-- TopNavBar -->
<nav class="header-nav">
  <div class="header-container desktop-nav">
    <!-- Brand -->
    <div class="brand">
      Athenaeum
    </div>
    <!-- Navigation Links -->
    <div class="nav-links">
      <a class="nav-link active" routerLink="/">Home</a>
      <a class="nav-link" routerLink="/catalogue">Catalogue</a>
      <a class="nav-link" href="#">Requests</a>
      <a class="nav-link" href="#">Archive</a>
    </div>
    <!-- Trailing Icons / Search -->
    <div class="trailing-actions">
      <button class="icon-button">
        <span class="material-symbols-outlined">notifications</span>
      </button>
      <div class="profile-container">
        <button class="profile-button" (click)="toggleProfileMenu()">
          <img alt="User profile settings" src="https://lh3.googleusercontent.com/aida-public/AB6AXuB8ZcTyigOXyRKCgJqwWv24Ghuw9S9Dw9XVH1qPG0RF5HXcuYIIfNCFSPX2PgCzN_pjAAj9srXBN12sXJqOfWm1Otu2aqSaXOblJVYpsLqPoSJgZIkG1zCQDIZY8tLbdaGom43qPV0wyGQe7PkbC53cdUbDRMe1zINh76eKmIMI05vCr-pkord_PsemWFlFqEf3KBobyKjuJFHjfNjz7PgzazF5PdTNbXSEPRcqCATSVLAKDlhGPlzAUg">
        </button>

        @if (isProfileMenuOpen) {
          <div class="profile-menu">
            <button class="menu-item logout-button" (click)="logout()">
              <span class="material-symbols-outlined">logout</span>
              Logout
            </button>
          </div>
        }
      </div>
    </div>
  </div>

  <!-- Mobile Nav -->
  <div class="header-container mobile-nav">
    <div class="brand-mobile">Athenaeum</div>
    <span class="material-symbols-outlined menu-icon">menu</span>
  </div>
</nav>
